@use '@/styles/breakpoints' as b;
@use '@/styles/mixins' as m;

.toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;

  &-checkbox {
    display: none;
  }

  &-label {
    position: relative;
    display: block;
    flex: 0 0 40px;
    width: 40px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid var(--color-gray);
    border-radius: 20px;
    margin: 0;

    &.is-disabled {
      opacity: .5;
    }

    &-text {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-size: 12px;
      font-weight: bold;
      color: var(--color-gray-blue);

      .hide-text-on-mobile & {
        @media (max-width: b.$upToMobile) {
          font-size: 0;
          margin-left: 0;
        }
      }
    }
  }

  &-inner {
    position: relative;
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;

    &--before,
    &--after {
      content: '';
      display: block;
      float: left;
      width: 50%;
      height: 20px;
      padding: 0;
      line-height: 20px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }

    &--before {
      content: attr(data-yes);
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    //&::before,
    //&::after {
    //  content: '';
    //  display: block;
    //  float: left;
    //  width: 50%;
    //  height: 20px;
    //  padding: 0;
    //  line-height: 20px;
    //  font-size: 14px;
    //  color: white;
    //  font-weight: bold;
    //  box-sizing: border-box;
    //}
    //
    //&:before {
    //  content: attr(data-yes);
    //  background-color: var(--color-blue);
    //  color: var(--color-white);
    //}
  }

  &-disabled {
    background-color: var(--color-light-gray);
    cursor: not-allowed;

    &:before {
      background-color: var(--color-light-gray);
      cursor: not-allowed;
    }

  }

  &-inner--after {
    content: attr(data-no);
    background-color: var(--color-medium-gray);
    color: #fff;
    text-align: right;
  }

  &-switch {
    display: block;
    width: 14px;
    margin: 3px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    border: 0 solid #ccc;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;
  }

  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }

    .toggle-switch-switch {
      right: 0;
    }
  }
}